.centerDiv{
	text-align: center;
}

.rightDiv{
	text-align:right;
	margin-top:10px;
}

.noBorderBtn{
	border-style:none;
}

.navbarForm{
	width: 400px;
	margin-left: 20px;
}

body{
	font-family: "Century Gothic","Microsoft Yahei", Verdana, Simsun, "Segoe UI", "Segoe UI Web Regular", "Segoe UI Symbol", "Helvetica Neue", "BBAlpha Sans", "S60 Sans", Arial, "sans-serif"
}

.myFont{
	font-family: "Century Gothic","Microsoft Yahei", Verdana, Simsun, "Segoe UI"
}

.tags{
	margin-top:10px;
}

.labelTag{
	background-color: #5b7e84;
}

.tagLink{
	color:white;
}

.tagLink:hover{
	color:#8ad1f2;
}

#askButton{
	margin-left: 5px;
}

.answerCountTD{
	vertical-align: middle;
	text-align: center;
	padding-top: 20px;
}

.answerCount ,.questionCount{
	font-size: 1.3em;
}

.questionTD{
	padding-left: 15px;
}

.userTD{
	text-align: right;
	vertical-align: bottom;
}

.radioDiv{
	width: 20px;
}

.warn{
	color: red;
}