

#formContainer{
	float: center;
	width: 500px;
}

.component{
	margin-top: 20px;
}

#submitComponent{
	position: relative;
	left: 170px;
}

.center{
	position: relative;
	left:400px;
}

.tipStyle{
	color: red;
}

body{
	font-family: "Microsoft Yahei", Verdana, Simsun, "Segoe UI", "Segoe UI Web Regular", "Segoe UI Symbol", "Helvetica Neue", "BBAlpha Sans", "S60 Sans", Arial, "sans-serif"
}