

#formContainer{
	float: center;
	width: 500px;
}

.component{
	margin-top: 20px;
}

#submitComponent{
	position: relative;
	left: 170px;
}

.center{
	position: relative;
	left:400px;
}

.tipStyle{
	color: red;
}
