@charset "utf-8";
/* CSS Document */

.component{
	margin-top: 5px;
}

#loginImg{
	width: 400px;
	height: 500px;
}

.logPane{
	margin-top: 100px;
}

#registerLink{
	margin-top: 30px; 
}

.passwordWrongLabel{
	margin-top: 10px;
	color: red;
}
