.naviBar{
	width:100px;
}

.logoIcon{
	padding-top: 5px;
	padding-right: 5px;
	padding-left: 5px;
}

.mainPane{
	padding-bottom: 80px;
}
.container{
	max-width: 1050px;
}


#pointNumber{
	margin-top: 10px;
	font-size: 1.2em;
}

td{
	height: 30px;
	padding-top: 10px;
}

.profile{
	margin-top: 20px;
	margin-bottom: 20px;
}

.firstCol{
	width: 150px;
}

.rowTD{
	margin-top: 20px;
}