.naviBar{
	width:100px;
}

.logoIcon{
	padding-top: 5px;
	padding-right: 5px;
	padding-left: 5px;
}

.mainPane{
	padding-bottom: 80px;
}
.container{
	max-width: 1050px;
}

.alignCenter{
	text-align: center;
}

#pointNumber{
	margin-top: 20px;
	font-size: 2em;
}

.rowStyle{
	margin-top: 10px; 
}

td{
	height: 30px;
	padding-top: 10px;
}

.profile{
	margin-top: 20px;
}

.firstCol{
	width: 150px;
}