@charset "utf-8";
/* CSS Document */

#description{
	margin-top:50px;
	padding:10px;
	background-color:#F0EDEE;
}

#tags{
	margin-top:10px;
}

.tagLink{
	color:white;
}

.answerDiv{
	margin-top:50px;
}

.answerContent{
	background-color:#F0EDEE;
	padding:10px;
}

.peopelDiv{
	text-align:right;
	margin-top:10px;
}

.rateTD{
	width:60px;
}
.rateTable{
	width:60px;
}

.centerTD{
	text-align:center;
}