@charset "utf-8";
/* CSS Document */

#description{
	margin-top:50px;
	padding:10px;
	background-color:#F0EDEE;
}

#tags{
	margin-top:10px;
}

.tagLink{
	color:white;
}

.answerItemDiv,.yourAnswerDiv{
	margin-top:50px;
}

.answerContent{
	background-color:#F0EDEE;
	padding:10px;
}

.rightDiv{
	text-align:right;
	margin-top:10px;
}


.centerDiv{
	text-align: center;
}

.btn{
	border-style:none;
}

.score{
	font-size: 1.2em;
}