@charset "utf-8";
/* CSS Document */

.description{
	margin-top:50px;
	padding:10px;
	background-color:#F0EDEE;
}



.answerItemDiv{
	border-color: #ccc;
	border-style: solid;
	border-width: 1px;
	border-right: 0px;
	border-left: 0px;
	border-bottom: 0px;
	padding-top:10px; 
	margin-top:50px;
}


.yourAnswerDiv{
	margin-top: 20px;
}

h3{
	border-color: #ccc;
	border-style: solid;
	border-width: 1px;
	border-right: 0px;
	border-left: 0px;
	border-top: 0px;
}


.answerContent{
	background-color:#F0EDEE;
	padding:10px;
	margin-bottom: 20px;
}


.peopleDiv{
	background-color: #e0eaf1;
	padding:10px;
}


.score{
	font-size: 1.2em;
}

textarea{
	margin-bottom: 20px;
}


.uploadImg{
	max-width: 100%;
	margin:20px;
}