


#formPane{
	margin-top: 20px;
}

.myInput{
	height: 34px;
	padding:0px;
	font-size: 1.1em;
	font-weight: lighter;
}

#askPane{
	margin-top: 50px;
}


.hotQuestionItem{
	height: 100px;
	background-color: white;
	padding:5px 10px;
	border-style: solid;
	border-color: #eaeaea;
	border-width: 1px;
	border-left: 0px;
	border-right: 0px;
	border-bottom: 0px;
}

