.tagTD{
	height: 200px;
	background-color: #aebddd;
	padding:5px;
	overflow: hidden;
	line-height: 1em;
}

.tagList{
	margin-top: 30px;
}

.tagTitle{
	padding-bottom: 5px;
	border-style: dotted;
	border-width: 1px;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-color: #ccc;
}

.tagList p{
	margin-top: 10px;
}